[user]
	name = GSoileau
	email = gfsoileau@gmail.com
[color]
	ui = auto
[core]
	editor = subl -n -w
[push]
	default = upstream
[merge]
	conflictstyle = diff3
[credtial]
	helper = osxkeychain
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
